@import '../../../Styles/colors';

.invitation-image {
  background: url('../../../Assets/img/invite-header-image.png') no-repeat center;
  background-size: cover;
  min-width: 100%;
  height: 100%;
  overflow: hidden;
}
.invitation-title {
  font-size: 5rem;
  font-weight: bolder;
  font-family: marsha;
  color: $brunswick-green;
  text-align: center;
  margin: 1rem 0 -2rem 0;
}

.invitation-subtitle {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: Dosis;
  color: $brunswick-green;
  text-align: center;
}

.invitation-message-container {
  min-height: auto !important;
  margin-bottom: 4rem;
}

.invitation-message-image {
  display: flex;
  height: 20rem;
  max-width: 100%;
  margin: 0 auto;
}

.invitation-message-title {
  margin: -6rem 0 1rem 0;
  font-family: marsha;
  font-size: 4rem;
  text-align: center;
}

.invitation-message-subtitle {
  margin: 0 0 4rem 0;
  padding: 0 3rem;
  font-family: Dosis;
  font-size: 1.2rem;
  font-style: italic;
  text-align: center;
}

.invitation-message-paragraph {
  margin: 1.5rem 0 3rem 0;
  font-family: Dosis;
  font-size: 1.0rem;
  text-align: center;
  font-weight: bolder;
  letter-spacing: 0.15rem;
  line-height: 2.0rem;
}

.invitation-rsvp-container {
  min-height: auto !important;
  background-color: #333333;
}

.invitation-rsvp-form {
  width: 20rem;
  margin: 0 auto;
}

.invitation-rsvp-image {
  display: flex;
  height: 10rem;
  max-width: 100%;
  margin: 5rem auto;
}

.invitation-rsvp-text {
  color: white;
}

.invitation-rsvp-submit {
  margin: 2rem 0;
}

.invitation-rsvp-observation {
  margin: 3rem 0 0 0;
  font-family: Dosis;
  font-size: 1rem;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.2rem;
  line-height: 2rem;
  color: white;
}
.invitation-details-container {
  min-height: auto !important;
  background-color: #333333;
}

.invitation-details-title {
  margin: 4rem 0 0 0;
  font-family: marsha;
  font-size: 4rem;
  text-align: center;
  color: white;
}

.invitation-details-paragraph {
  margin: 1.5rem 0 3rem 0;
  font-family: Dosis;
  font-size: 1.0rem;
  text-align: center;
  font-weight: lighter;
  letter-spacing: 0.15rem;
  line-height: 2.0rem;
  color: white;
}
.invitation-covid-paragraph {
  margin: 1.5rem 0 3rem 0;
  font-family: Dosis;
  font-size: 1.0rem;
  text-align: center;
  font-weight: lighter;
  letter-spacing: 0.15rem;
  line-height: 2.0rem;
}