.not-found-title {
  font-family: Dosis;
  font-weight: 700;
  color: red;
  text-align: center;
}

.not-found-subtitle {
  font-family: Dosis;
  text-align: center;
  font-weight: 400;
}

.not-found-container {
  display: flex;
  align-items: center;
}