@import '../../../Styles/colors';

.login-title,
.login-subtitle,
.login-paragraph {
  font-family: Dosis;
  color: $charcoal;
  text-align: center;
}

.login-form {
  text-align: center;
}

.login-button-color {
  background-color: $charcoal !important;
  border-color: $charcoal !important;
}

.login-card-container {
  height: auto;
}

.login-form-container {
  background-color: lightgray;
  display: flex;
  align-items: center;
}