@import '../../../Styles/colors';

.login-title {
  font-family: Marsha;
  font-style: italic;
  font-size: 2.4rem;
  font-weight: bold;
  color: black;
  text-align: center;
}

.login-subtitle,
.login-paragraph {
  font-family: Dosis;
  color: black;
  text-align: center;
}

.login-form {
  text-align: center;
}

.login-button-color {
  background-color: $charcoal !important;
  border-color: $charcoal !important;
  font-family: Marsha;
}

.login-card-container {
  height: auto;
}

.login-form-container {
  background-color: lightgray;
  display: flex;
  align-items: center;
}