@import '../../../Styles/colors';

.invitation-image {
  background: url('../../../Assets/img/invite-header-image.jpg') no-repeat center;
  background-size: cover;
  min-width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.invitation-title {
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 5rem;
  font-weight: lighter;
  font-family: marsha;
  color: white;
  text-align: center;
  flex: auto;
}

.invitation-title-image {
  display: flex;
  height: 8rem;
  max-width: 100%;
  margin: -5rem auto 0.8rem auto;
}

.invitation-message-container {
  min-height: 100% !important;
  margin-bottom: 4rem !important;
}

.invitation-message-image {
  display: flex;
  height: 20rem;
  max-width: 100%;
  margin: 0 auto;
}

.invitation-message-title {
  margin: -6rem 0 1rem 0;
  font-family: marsha;
  font-size: 4rem;
  text-align: center;
}

.invitation-message-subtitle {
  margin: 0 0 2rem 0;
  padding: 0 3rem;
  font-family: Dosis;
  font-size: 1.2rem;
  font-style: italic;
  text-align: center;
}

.invitation-message-paragraph {
  margin: 1.5rem 0 3rem 0;
  font-family: Dosis;
  font-size: 1.6rem;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.15rem;
  line-height: 2.0rem;
  }

  .invitation-message-ps {
    margin: 1.5rem 0 3rem 0;
    font-family: Dosis;
  font-size: 1.0rem;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.15rem;
  line-height: 2.0rem;
}

.invitation-rsvp-container {
  min-height: auto !important;
  background-color: #333333;
}

.invitation-rsvp-form {
  margin: 0 auto 4rem auto;
}

.invitation-rsvp-image {
  display: flex;
  height: 10rem;
  max-width: 100%;
  margin: 4rem auto;
}

.invitation-rsvp-text {
  color: white;
}

.invitation-rsvp-submit {
  margin: 2rem 0;
}

.invitation-thank-you-image {
  background: url('../../../Assets/img/thank-you-image.jpg') no-repeat center;
  background-size: cover;
  min-width: 100%;
  height: auto;
  overflow: hidden;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.invitation-thank-you-gif {
  display: flex;
  height: 10rem;
  max-width: 100%;
  margin: 4rem auto;
}