.invitation-covid-container {
  min-height: auto !important;
}

.invitation-covid-paragraph {
  margin: 1.5rem 0 3rem 0;
  font-family: Dosis;
  font-size: 1.0rem;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0.15rem;
  line-height: 2.0rem;
}