.invitation-gifts-container {
  min-height: auto !important;
  background-color: #333333;
}

.invitation-gifts-title {
  margin: 4rem 0 0 0;
  font-family: marsha;
  font-size: 4rem;
  text-align: center;
  color: white;
}

.invitation-gifts-paragraph {
  margin: 1.5rem 0 3rem 0;
  font-family: Dosis;
  font-size: 1.0rem;
  text-align: center;
  font-weight: lighter;
  letter-spacing: 0.15rem;
  line-height: 2.0rem;
  color: white;
}